*{
	margin: 0;
	padding: 0;
}

html, body {
    position: relative;
    height: 100%;
}
body {
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 28px;
    margin: 0;
    padding: 0;
}
.swiper-container{
    width: 100%;
    height: 100%;
}
.swiper-slide{
   	width:640px;
   	height:1136px;
  
}
.bigfont{
  font-size: 36px;
}
